<div class="row">
    <div class="span12">
        <div class="row w-title-h">
            <h1 class="title-h"></h1>
        </div>
        <div class="row">
            <form name="editForm" class="form-horizontal" ng-submit="editForm.$valid && saveIssue(issue)" novalidate>
                <div class="control-group">
                    <label class="control-label" for="issueTitle">Название события</label>
                    <div class="controls">
                        <input type="text" name="issueTitle" id="issueTitle" ng-model="issue.title" required minlength="3">
                        <span ng-show="editForm.issueTitle.$invalid" class="help-inline">Укажите название события (не менее 3 символов)</span>
                    </div>
                </div>
                 <div class="control-group">
                    <label class="control-label" for="issueDescription">Описание</label>
                    <div class="controls">
                        <textarea name="issueDescription" id="issueDescription" ng-model="issue.description" required minlength="10"></textarea>
                        <span ng-show="editForm.issueDescription.$invalid" class="help-inline">Описание не может быть короче 10 символов</span>
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label" for="selectAttitude">Отношение к событию</label>
                    <div class="controls">
                        <select id="selectAttitude" name="selectAttitude" size="1" ng-model="issue.attitude" required> 
                            <option value="positive">Положительное</option>
                            <option value="neutral">Нейтральное</option>
                            <option value="negative">Отрицательное</option>
                        </select>
                        <span ng-show="editForm.selectAttitude.$invalid" class="help-inline">Укажите отношение к событию</span>
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label" for="date">Дата</label>
                    <div class="controls">
                        <input type="date" name="date" id="date" ng-model="issue.date" required>
                        <span ng-show="editForm.date.$invalid" class="help-inline">Выберите дату для события</span>
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label" for="videoUrl">Прикрепить YouTube-видео</label>          
                    <div class="controls">
                        <input type="url" name="videoUrl" id="videoUrl" placeholder="Введите Url Youtube видео" ng-model="issue.videoUrl" ng-change="showThumb()">
                        <span class="help-inline"></span>
                        <div id='videoThumbnail'><img ng-src="{{thmbUrl}}" alt="Невозможно отобразить превью"></div>
                    </div>
                    
                </div>
                
                <div class="control-group">
                    <label class="control-label" for="map">Выбрать место на карте (по адресу или кликом по карте)</label>
                    <div class="controls">
                        <input id="adress-input" type="text" placeholder="Введите адрес здесь" ng-model="adress">
                        <div id='map'>
                            <map zoom="10" center="49.9945914, 36.2858248"></map>
                        </div> 
                    </div>
                </div>

                <div class="row">
                    <div class="span4">
                        <div class="control-group">
                            <div class="controls">
                                <button type="submit" ng-disabled="editForm.$invalid" class="btn btn-info btn-block" href="#"><i class="fa fa-save" ></i>Сохранить событие</button> 
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
 </div> 